---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Pablo Quirilao Pailaya";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>ingeniero en informática</h2>
  <Greeting client:load messages={["Hej! Tack för ditt besök!", "Hallo!, danke für Ihren Besuch!", "Hola!, gracias por tu visita!", "Olá! Obrigado pela sua visita!"]} />
</BaseLayout>